@import '../../styles/variables.module.scss';

.login {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: $color-grey-light;

  &__box {
    width: 50rem;
    padding: 4rem 2rem;
    // margin-inline: auto;
  }

  &__title {
    text-align: center;
    margin-bottom: 4rem;
    // color: $color-main;
    font-size: 4.2rem;
    font-weight: 600;
  }

  &__link {
    text-align: center;
    margin-top: 2rem;
  }
}

.MuiAlert-message {
  font-size: 1.4rem;
}

.MuiFormControl-root {
  width: 100%;
  // background-color: $color-white;
}

.MuiFormControl-root .MuiOutlinedInput-root {
  color: $color-text-light;
  font-size: 1.4rem;
  width: 100%;
  // background-color: $color-white;
}

.MuiFormControl-root .MuiInputLabel-root {
  font-size: 1.4rem;
  color: $color-text;
}

.MuiFormControl-root .MuiButton-root {
  font-size: 1.4rem;
  // padding: 1.4rem 0;
  // text-transform: capitalize;
}

.MuiFormControl-root .MuiFormHelperText-root {
  font-size: 1.2rem;
  color: $color-danger;
}
