@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import './variables.module.scss';

*,
*::before,
*::after {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: $color-text;
}

.app {
  &__container {
    min-height: 100vh;
    margin-left: 25rem;
    background-color: $color-grey-light;
  }
}

.container {
  max-width: 140rem;
  margin-inline: auto;
  padding: 3rem;
}

.flex-container {
  display: flex;
  gap: 2.5rem;
}

.flex-container-column {
  @extend .flex-container;
  flex-direction: column;
}

.base-component {
  padding: 2rem;
  box-shadow: -4px 4px 10px 1px rgba($color-black, 0.1);
  border-radius: 5px;
  background-color: $color-white;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 1.8rem;
  font-weight: bold;
  color: $color-text-dark;
}
