$color-main: #5a8dee;
$color-success: #39da8a;
$color-danger: #ff5b5c;
$color-warning: #fdac41;

$color-grey-light: #f2f2f6;
$color-grey-dark: #263c55;

$color-text-light: #a8b1bb;
$color-text: #677788;
$color-text-dark: #516377;

$color-white: #fff;
