@import '../../styles/variables.scss';

.navbar {
  height: 6rem;
  display: flex;
  align-items: center;

  &__wrapper {
    flex: 1;
    padding: 0 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__search {
    display: flex;
    align-items: center;
    color: $color-text;

    svg {
      font-size: 2.5rem;
      margin-right: 0.5rem;
    }

    input,
    input:active {
      background-color: transparent;
      border: none;
      outline: none;
      font-size: inherit;

      &::placeholder {
        color: $color-text-light;
      }
    }
  }

  &__items {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    color: $color-text;

    svg {
      font-size: 2.5rem;
    }
  }

  &__item-text {
    margin-left: 0.5rem;
  }

  &__item-count {
    width: 1.7rem;
    aspect-ratio: 1;
    position: absolute;
    top: -0.3rem;
    right: -0.5rem;
    display: grid;
    place-items: center;
    font-size: 0.85rem;
    font-weight: bold;
    color: $color-white;
    background-color: $color-danger;
    border-radius: 50%;
  }
}
