@import '../../styles/variables.module.scss';

.sidebar {
  position: fixed;
  width: 25rem;
  min-height: 100vh;
  // padding: 1rem 0;
  border-right: 1px solid $color-grey-light;

  display: flex;
  flex-direction: column;
  // justify-content: space-between;

  &__top {
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__logo {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $color-main;
  }

  // &__center {
  //   ul {
  //     // border: 1px solid red;
  //     list-style: none;
  //   }
  // }

  // &__group {
  //   border: 1px solid red;
  //   // margin-bottom: 2rem;
  // }

  &__title {
    font-size: 1.3rem;
    // font-weight: bold;
    color: $color-text-light;
    margin: 2rem 3rem 1rem;
    // margin-bottom: 0.5rem;
  }

  // &__bottom {
  //   padding: 0 1rem;
  //   display: flex;
  //   gap: 1rem;
  //   border: 1px solid red;
  // }

  // &__option {
  //   width: 2rem;
  //   height: 2rem;
  //   border-radius: 0.5rem;
  //   border: 1px solid $color-text-light;
  //   cursor: pointer;

  //   &:nth-child(1) {
  //     background-color: $color-grey-light;
  //   }

  //   &:nth-child(2) {
  //     background-color: $color-text-dark;
  //   }
  // }
}

.sidebar-link {
  display: flex;
  align-items: center;
  margin: 0.3rem 1.5rem;
  padding: 1rem 1.5rem;
  border-radius: 0.3rem;
  color: $color-text;

  &:hover {
    background-color: rgba($color-grey-dark, 0.05);
  }

  span {
    margin-left: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
  }

  svg {
    font-size: 2rem;
  }
}

.active {
  .sidebar-link {
    background-color: rgba($color-main, 0.15);
    span,
    svg {
      color: $color-main;
    }
  }
}
